# Ignore compiled files
target/
*.class
*.jar
*.war
*.ear

# Ignore IDE files
.idea/
*.iml
*.xml
.DS_Store

# Ignore system files
Desktop.ini
Thumbs.db

# Ignore files outside project
../
../../
../../../
